#############################
# MagicDoc Configuration: #
#############################
MagicDoc:
    ProjectDirRecursion: {{ magicdoc.recursion }}
    ExcludeDirectory: {{ magicdoc.exclude_dir }}
    IncludeExampleDirectory: {{ magicdoc.include_examples }}
    TemplateDirectory: {{ magicdoc.template_dir }}
    ReadMeTemplate: {{ magicdoc.readme_template }}
    ChangeLogTemplate: {{ magicdoc.changelog_template }}
    GitIgnoreTemplate: {{ magicdoc.gitignore_template }}

#############################
# Repository Configuration: #
#############################
Git:
    Repository: {{ git.repository }}
    Version: {{ git.version }}

############################
# README.md Configuration: #
############################
ReadMe:
    Title: {{ readme.title }}
    HeroImage: {{ readme.hero }}
    DocLink: {{ readme.documentation_link }}
    GettingStarted: >-
        {{ readme.getting_started }}
    PreRequisites: >-
        {{ readme.pre_requisites }}
    Usage:
        {{ readme.examle_module_name }}
    Changelog:
        {{ readme.changelog }}
    Contact:
        UserName: {{ git.username }}
        Email: {{ git.email }}

############################
# Variables Configuration: #
############################
Variables:
    #######################
    # Required Variables: #
    #######################
    Required:
        Image:  {{ var.required_image }}
        {% for variable in var.required_vars %}
        {{variable.name}}:
            ExampleValue: {{ variable.example_value }}
            GeneralDetails:
                Description: >-
                    {{variable.description}}
                Notes:
                Images:
            VarDetails:
                Description:
                Notes:
                Images:
            UsageDetails:
                Description:
                Notes:
                Images:
            Additional:
                Description:
                Notes:
                Images:
        {% endfor %}
    #######################
    # Optional Variables: #
    #######################
    Optional:
        Image: {{ var.optional_image }}
        {% for variable in var.optional_vars %}
        {{variable.name}}:
            ExampleValue: {{ variable.example_value }}
            DefaultValue: {{ variable.default }}
            GeneralDetails:
                Description: >-
                    {{variable.Description}}
                Notes:
                Images:
            VarDetails:
                Description:
                Notes:
                Images:
            UsageDetails:
                Description:
                Notes:
                Images:
            Additional:
                Description:
                Notes:
                Images:
        {% endfor %}
