#############################
# Repository Configuration: #
#############################
Repository:
    OwnerOverride:
    NameSpace:
    Name:
    Version:

############################
# README.md Configuration: #
############################
README:
    Title: 
    HeroImage:
    DocLink:
    #=====================#
    # README.md Sections: #
    #=====================#
    GettingStarted: >-
        Project Description.....
    PreRequisites: >-
        This module does not currently have any pre-requisites or dependency requirements.
    Usage:
        ExampleResourceName:
############################
# Variables Configuration: #
############################
Variables:
    #=====================#
    # Required Variables: #
    #=====================#
    Required:
        Image:
        {% for variable in var.required_vars %}
        {{variable.Name}}:
            ExampleValue:
            GeneralDetails:
                Description: >-
                    {{variable.Description}}
                Note:
                Image:
            VarDetails:
                Description:
                Note:
                Image:
            UsageDetails:
                Description:
                Note:
                Image:
        {% endfor %}
    #=====================#
    # Optional Variables: #
    #=====================#
    Optional:
        Image:
        {% for variable in var.optional_vars %}
        {{variable.Name}}:
            ExampleValue:
            GeneralDetails:
                Description: >-
                    {{variable.Description}}
                Note:
                Image:
            VarDetails:
                Description:
                Note:
                Image:
            UsageDetails:
                Description:
                Note:
                Image:
        {% endfor %}
