#############################
# MagicDoc Configuration: #
#############################
MagicDoc:
    ProjectDirRecursion:
    ExcludeDirectory:
    IncludeExampleDirectory:
Templates:
    TemplateDirectory:
    ReadMeTemplate:
    ChangeLogTemplate:
    GitIgnoreTemplate:

#############################
# Repository Configuration: #
#############################
Git:
    NameSpace:
      Github:
      Gitlab:
      BitBucket:


#############################
# Readme Defaults:          #
#############################
Hero:
DocLink:
RequiredImage:
OptionalImage:
